<section class="w-100 pv0 ph0 pv6-ns ph4-ns dark-gray bg-washed-green" id="about">
  <center class="mw7 center tl-ns pa4 ba bw4 bw3-m b--light-green wow animated fadeInUp">
    <h1 class="f2 f1-l mv2 lh-title tk-leitura-news i dark-green">Get to Know Us</h1>
    <hr class="w3 ma0 ba bw2 bw3-ns b--light-green">
    <p class="f5 f4-ns mv4 lh-copy measure">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="#" class="link db w-100 w5-ns tc mv4 ph4 pv3 mh2 br-pill ba bw1 b ttu b--dark-green dark-green bg-transparent dim">About the Company</a>
  </center>
</section>
