<section class="w-100 pv0 ph0 pv6-ns ph4-ns light-silver bg-white" id="light">
    <center class="cf tl-ns center relative">
      <figure class="fr absolute dn db-ns w-50-l ma0 pa0 top-0 right-0 bottom-0 bg-black">
        <div class="absolute w-100 top-0 right-0 bottom-0 o-70" style="background:url(https://source.unsplash.com/oZPwn40zCK4/) center;"></div>
        <img src="https://source.unsplash.com/oZPwn40zCK4/" class="dn" alt="night sky over water">
      </figure>
      <article class="fl w-100 w-50-l pa3 pa4-ns ba bw4 bw3-m b--near-white">
        <h1 class="f2 f1-l mv2 lh-title tk-leitura-news i blue">LED Light™</h1>
        <hr class="w3 ma0 ba bw2 bw3-ns b--near-white">
        <ul class="list pa0 mv4 lh-copy">
          <li class="dib mr2">
            <a class="link hover-light-blue blue b ttu" href="#"><i class="fa fa-file-pdf-o fa-fw fa-lg"></i>Spec Sheet</a>
          </li>
          <li class="dib mr2">
            <a class="link hover-light-blue blue b ttu" href="#"><i class="fa fa-photo fa-fw fa-lg"></i>Gallery</a>
          </li>
          <li class="dib mr2">
            <a class="link hover-light-blue blue b ttu" href="#"><i class="fa fa-share fa-fw fa-lg"></i>Share</a>
          </li>
        </ul>
        <table class="collapse w-100 dark-gray">
          <tbody>
            <tr class="striped--near-white ">
              <th class="pv2 ph3" colspan="2">Overview</th>
            </tr>
            <tr class="striped--near-white ">
              <td class="pv2 ph3">Power</td>
              <td class="pv2 ph3">50 Watts</td>
            </tr>
            <tr class="striped--near-white ">
              <td class="pv2 ph3">Voltage</td>
              <td class="pv2 ph3">120 DC</td>
            </tr>
          </tbody>
        </table>
        <a href="#" class="link db w-100 w5-ns tc mv4 ph4 pv3 mh2 br-pill ba bw1 b ttu b--blue blue bg-transparent dim">View Details</a>
      </article>
    </center>
  </div>
</section>
