<header class="w-100 pv0 ph0 pv6-ns ph4-ns mid-gray bg-navy" id="home">
  <center class="mw7 center tl-ns pa4 ba bw4 bw3-m b--mid-gray">
    <h1 class="f1 f-subheadline-m f-headline-l mv3 lh-solid tk-leitura-news i light-red">{{ site.title }}</h1>
    <hr class="w3 ma0 ba bw2 bw3-ns b--mid-gray">
    <ul class="list pa0 mv4 lh-copy">
      <li class="dib mr2"><a class="link hover-blue mid-gray b ttu" href="#about" data-scroll>About</a></li>
      <li class="dib mr2"><a class="link hover-blue mid-gray b ttu" href="#light" data-scroll>LED Light™</a></li>
      <li class="dib mr2"><a class="link hover-blue mid-gray b ttu" href="#services" data-scroll>Services</a></li>
      <li class="dib mr2"><a class="link hover-blue mid-gray b ttu" href="#contact" data-scroll>Contact</a></li>
    </ul>
    <p class="f5 f4-ns mv4 lh-copy measure">{{ site.company.tagline }}</p>
    <ul class="list pa0 lh-copy">
      <li class="dib mr2">
        <a class="link hover-blue mid-gray" href="mailto:email@domain.com"><abbr title="Email"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></abbr>email@domain.com</a>
      </li>
      <li class="dib mr2">
        <a class="link hover-blue mid-gray" href="tel:1234567890"><abbr title="Phone"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></abbr>(123) 456-7890</a>
      </li>
      <li class="dib mr2">
        <a class="link hover-blue mid-gray" href="https://goo.gl/maps/ePAZK239wrC2" target="_blank"><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr>Portland, Oregon</a>
      </li>
    </ul>
  </center>
</header>
